@font-face {
    font-family: 'Eina011-Regular';
    src: url('../fonts/Eina01-Regular.woff2') format('woff2'),
        url('../fonts/Eina01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01-SemiBold';
    src: url('../fonts/Eina01-SemiBold.woff2') format('woff2'),
        url('../fonts/Eina01-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01-Bold';
    src: url('../fonts/Eina01-Bold.woff2') format('woff2'),
        url('../fonts/Eina01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03-SemiBold';
    src: url('../fonts/Eina03-SemiBold.woff2') format('woff2'),
        url('../fonts/Eina03-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03-Regular';
    src: url('../fonts/Eina03-Regular.woff2') format('woff2'),
        url('../fonts/Eina03-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03-Bold';
    src: url('../fonts/Eina03-Bold.woff2') format('woff2'),
        url('../fonts/Eina03-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

