body.material .ocm-effect-wrap .container-wrap {
  overflow: hidden;
}
body, html, .testimonial_slider:not([data-style*=multiple_visible]) blockquote, blockquote {
  font-family: "Futura", "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.37;
}
.kicker {
  margin-bottom: 6px !important;
}
p.kicker,
.kicker p {
  color: $primary-color !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.light {
  p.kicker,
  .kicker p {
    color: $secondary-color !important;
  }
}
.fw-400 {
  font-weight: 400;
  font-family: "futura-pt", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  @include mobile {
    &-m {
      font-family: "futura-pt", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
    }
  }
  @include tablet {
    &-t {
      font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
    }
  }
  @include desktop {
    &-d {
      font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
    }
  }
}
.lg-text {
  font-size: 18px;
}
.xl-text {
  font-size: 20px;
}
.sm-text {
  font-size: 14px;
}
@include mobile {
  .xl-text-m {
    font-size: 20px;
  }
}
body h1, .heading-h1 {
  font-size: 46px;
  @include tablet {
    font-size: 64px;
  }
  @include desktop {
    font-size: 86px;
  }
  @include sm_mobile {
    br {
      display: none;
    }
  }
}
.toggle>h3.toggle-title a,
.heading-h3,
body h3 {
  font-size: 36px !important;
  line-height: 1.08 !important;
}
.toggle>h3.toggle-title a{
  @include mobile {
    font-size:24px !important;
  }
  @include tablet {
    font-size:30px !important;
  }
}
body .col h2:not(.gform_submission_error),body h3.heading-h2,
.h2 h3 {
  font-size: 36px !important;
  line-height: 1.08 !important;
  strong {
    font-weight: 700 !important;
  }
  @include tablet {
    font-size:38px !important;
  }
  @include desktop {
    font-size:46px !important;
  }
  @include sm_mobile {
    br {
      display: none;
    }
  }
}
.heading-h4,
body h4 {
  font-size: 24px;
}
body h5, .heading-5 {
  font-size:18px;
  @include tablet_up {
    font-size:20px;
  }
}
body h6, .heading-6 {
  font-size:16px;
  @include tablet_up {
    font-size:18px;
  }
}
ul:last-child {
  margin-bottom: 0;
}

@keyframes underlineGrow {
  from {
    background-size: 0% 2px;
    background-position: left bottom;
  }
  to {
    background-size: 100% 2px;
    background-position: left bottom;
  }
}

@keyframes underlineShrink {
  from {
    background-size: 100% 2px;
    background-position: left bottom;
  }
  to {
    background-size: 0% 2px;
    background-position: left bottom;
  }
}
.vc_row-fluid {
  .wpb_column {
    .vc_column-inner {
      .wpb_text_column.wpb_content_element {
        a:not(.nectar-button){
          position: relative;
          display: inline;
          text-decoration: none;
          background-image: linear-gradient(#FDDC5C, #FDDC5C);
          background-repeat: no-repeat;
          background-size: 100% 2px;
          background-position: left bottom;
          animation: underlineShrink .3s cubic-bezier(0.25, 0, 0.4, 1) forwards;
          &:hover {
            animation: underlineGrow .3s cubic-bezier(0.25, 0, 0.4, 1) forwards;
          }
        }
      }
    }
  }
}
.column-image-bg {
  transition: all .45s cubic-bezier(.25,1,.33,1) !important;
}
/* BUTTON */
html body .col .nectar-button[data-color-override=false].nectar-button,
html body .col .nectar-button[data-color-override="false"].nectar-button {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  padding: 16px 28px !important;
  line-height: 1;
  font-size: 20px !important;
  vertical-align: baseline;
  margin: 0 !important;
  text-align: center;
  color: $secondary-color !important;
  border: 2px solid $primary-color;
  background-color: $primary-color !important;
  transition: all .45s cubic-bezier(.25,1,.33,1) !important;
  text-transform: capitalize;
  span {
    display: inline-block;
    vertical-align: baseline;
  }
  &.full-width{
    width: 100%;
  }
  @include sm_mobile {
    width: 100%;
  }
  &:hover {
    background-color: transparent !important;
    color: $primary-color !important;
    opacity: 1;
  }
  &.see-through {
    color: $tertiary-color !important;
    border: 2px solid $tertiary-color !important;
    background-color: transparent !important;
    &:hover {
      background-color: $tertiary-color !important;
      color: $secondary-color !important;
    }
  }
  @include mobile {
    &.hide-mobile {
      display: none !important;
    }
  }
  @include tablet {
    &.hide-tablet {
      display: none !important;
    }
  }
  @include desktop {
    &.hide-desktop {
      display: none !important;
    }
  }
  ~ .nectar-button {
    @include mobile {
      margin: 0 0 0 12px !important;
    }
    @include sm_mobile {
      margin: 12px 0 0 0 !important;
    }
    @include tablet {
      margin: 0 0 0 12px !important;
    }
    @include desktop {
      margin: 0 0 0 16px !important;
    }
  }
}
/* IMAGES */
.row .col img.img-with-animation.nectar-lazy:not([srcset]) {
  width: auto;
}
// adding animation to linked images
.img-with-aniamtion-wrap a {
  transition: all 0.5s ease;
}
.img-with-aniamtion-wrap a:hover {
  opacity: 0.6;
}
.bg-contain {
  .row-bg-wrap {
    .inner-wrap {
      .row-bg {
        background-size: contain;
      }
    }
  }
}
.row .col .img-with-aniamtion-wrap img.img-with-animation.nectar-lazy:not([srcset]).image-width-full,
.img-with-aniamtion-wrap[data-border-radius="15px"] img {
  width: 100%;
}
/* SALIENT OPACITY LINK FIX */
.span_12.light .wpb_text_column a:not(:hover) {
  opacity: 1 !important;
}
body {
  #header-outer[data-full-width=true] {
    header {
      >.container {
        @include tablet_down {
          padding: 0 15px;
        }
      }
    }
  }
}
/* padding for main rows */
body.privacy-policy .container-wrap,
.vc_row .row_col_wrap_12 {
  padding: 40px 0;
  @include tablet {
    padding: 50px 0;
  }
  @include desktop {
    padding: 96px 0;
  }
}
/* overwriting the default row padding with custom classes */
@include mobile {
  .no-pt-m .row_col_wrap_12 {
    padding-top: 0 !important;
  }
  .no-pb-m .row_col_wrap_12 {
    padding-bottom: 0 !important;
  }
}
@include tablet {
  .no-pt-t .row_col_wrap_12 {
    padding-top: 0 !important;
  }
  .no-pb-t .row_col_wrap_12 {
    padding-bottom: 0 !important;
  }
}
.no-pb {
  @include mobile {
    &-m .row_col_wrap_12 {
      padding-bottom: 0 !important;
    }
  }
  @include tablet {
    &-t .row_col_wrap_12 {
      padding-bottom: 0 !important;
    }
  }
  @include desktop {
    &-d .row_col_wrap_12 {
      padding-bottom: 0 !important;
    }
  }
}
.container-wrap {
  padding-bottom: 0px
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
@include desktop {
  .no-margin-d {
    margin-bottom: 0 !important;
  }
}
@include tablet {
  .no-margin-t {
    margin-bottom: 0 !important;
  }
}
@include mobile {
  .no-margin-m {
    margin-bottom: 0 !important;
  }
}
.no-padding-sides .row_col_wrap_12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding .row_col_wrap_12 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-top .row_col_wrap_12 {
  padding-top: 0 !important;
}
.no-padding-bottom .row_col_wrap_12 {
  padding-bottom: 0 !important;
}
.wpb_column.no-margin:not([class*=vc_col-xs]),
.no-margin,
.no-margin .wpb_wrapper {
  margin: 0 !important;
}
.mb-48 {
  margin-bottom: 48px !important;
  @include mobile {
      &-m {
        margin-bottom: 48px !important;
    }
  }
}
.mb-32 {
  margin-bottom: 32px !important;
  @include mobile {
      &-m {
        margin-bottom: 32px !important;
    }
  }
}
.mb-24 {
  margin-bottom: 24px !important;
  @include mobile {
      &-m {
        margin-bottom: 24px !important;
    }
  }
}
.mb-12 {
  margin-bottom: 12px !important;
  @include tablet {
      &-t {
        margin-bottom: 12px !important;
    }
  }
  @include mobile {
      &-m {
        margin-bottom: 12px !important;
    }
  }
}
/* RESPONSIVE SECTIONS */
@include mobile {
  body .col .nectar-button[data-color-override=false].nectar-button.has-icon.hide-mobile,
  .hide-mobile {
    display: none;
  }
}
@include tablet {
  body .col .nectar-button[data-color-override=false].nectar-button.has-icon.hide-tablet,
  .hide-tablet {
    display: none;
  }
}
@include desktop {
  body .col .nectar-button[data-color-override=false].nectar-button.has-icon.hide-desktop,
  .hide-desktop {
    display: none;
  }
}

/* GRAVITY FORMS */
body .gform-theme--framework.gform-theme.gform_wrapper,
body .gform_wrapper,
body[data-form-submit=regular] .gform_wrapper,
body[data-form-submit=regular] .container-wrap .gform_wrapper.gform-theme--foundation {
  .gform_fields {
    margin-top: 24px !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  margin-bottom: 0;
  .gform_heading {
    display: none;
  }
  .top_label .gfield_label {
    margin-top: 0 !important;
    color: $tertiary-color !important;
    font-family: 'Futura';
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize !important;
    .gfield_required {
      color: $primary-color !important;
      font-style: normal;
    }
  }
  input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text]:not([name="s"]), input[type=url], select {
    block-size: auto !important;
    border-radius: 0;
    padding: 16px !important;
    border: 1px solid #262626 !important;
    background-color: transparent !important;
    border: none;
    color: $tertiary-color !important;
    &:focus {
      box-shadow: none;
    }
  }
  ::placeholder {
    color: #E0E0E0 !important;
    opacity: 1;
  }

  .gform_footer {
    width: 100%;
    margin-top: 48px !important;
    padding-top: 0;
    padding-bottom: 0;
    input:is([type=submit]),
    button[type=button],
    button[type=submit],
    input[type=submit] {
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      padding: 16px 28px !important;
      line-height: 1;
      font-size: 20px !important;
      vertical-align: baseline;
      margin: 0 !important;
      text-align: center;
      color: $secondary-color !important;
      border: 2px solid $primary-color;
      background-color: $primary-color !important;
      transition: all .45s cubic-bezier(.25,1,.33,1) !important;
      text-transform: capitalize;
      span {
        display: inline-block;
        vertical-align: baseline;
      }
      &:hover {
        background-color: transparent !important;
        color: $primary-color !important;
        opacity: 1;
      }
    }
  }
}