
#slide-out-widget-area-bg {
  width: 100vw;
}
body {
  #header-outer {
    &.transparent,
    &.side-widget-open {
      background-color: transparent;
      #top {
        .slide-out-widget-area-toggle {
          .close-line {
            background-color: #ffffff;
          }
        }
      }
    }
    #top {
      .slide-out-widget-area-toggle {
        padding-right: 10px;
        transform: scale(1.3);
        .lines:after,  .lines:before, .lines-button:after {
          border-radius: 5px;
          width: 22px !important;
        }
      }
      .col.span_9 {
        nav {
          > ul {
            > li:not(.header-btn) {
              &:nth-child(2) {
                display: none !important;
                @include xl_desktop {
                  display: flex !important;
                }
              }
              > a {
                transition: all 0.45s ease;
                span:after {
                  max-width: 40%;
                  border-color: $secondary-color !important;
                }
              }
            }
            > li.header-btn {
              a {
                font-size: 16px;
                white-space: nowrap;
                padding: 15px 26px 13px;
                color: $primary-color !important;
                border: 2px solid $white;
                background-color: $white !important;
                transition: all 0.45s ease;
                &:hover {
                  background-color: transparent !important;
                  color: $white !important;
                }
                span:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  #slide-out-widget-area.fullscreen {
    .inner-wrap {
      height: 100vh;
      > .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        max-width: 100vw;
        > .off-canvas-menu-container {
          margin: 0;
          padding: 0;
          text-align: left;
          .menu-wrap.menuwrapper {
            padding: 18px 10px;
            @include tablet_up {
              padding: 18px 42px;
            }
            ul {
              li {
                margin-bottom: 0 !important;
                a {
                  padding: 22px 4px;
                  opacity: 1;
                  letter-spacing: normal;
                }
                &.menu-item-has-icon {
                  a {
                    flex-direction: row-reverse;
                    align-items: flex-start;
                    justify-content: flex-end;
                    gap: 6px;
                    .nectar-menu-icon-img {
                      margin: 0;
                      width: 12px;
                      height: 12px;
                      aspect-ratio: 1/1;
                    }
                  }
                }
                &:last-child {
                  display: none;
                }
                &.header-btn {
                  a {
                    display: inline-flex;
                    margin-top: 22px;
                    white-space: nowrap;
                    padding: 15px 26px 13px;
                    color: $primary-color !important;
                    border: 2px solid $white;
                    background-color: $white !important;
                    transition: all 0.45s ease;
                    &:hover {
                      background-color: transparent !important;
                      color: $white !important;
                    }
                    span:after {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}