// STHC Amenities Carousel
// Basic layout and responsive behaviour.
// Images are full-bleed; content sits on top.
@import '../variables';
@import '../mixin';

.sthc-amenities-carousel {
  position: relative;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__header {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  &__nav {
    position: absolute;
    inset: 0 0 auto;
    display: flex;
    flex: 1 1 auto;
    padding: 24px 12px 0;
    overflow: auto;
    &::-webkit-scrollbar { 
      display: none;  /* Older Safari and Chromium */
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__nav-item {
    font-family: "Futura", "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    flex: 1 1 auto;
    padding: 0 0 12px;
    position: relative;
    text-align: left;
    border: 0;
    color: $tertiary-color;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    text-transform: none;
    outline: none;
    .sthc-amenities-carousel__nav-label {
      padding-right: 48px;
    }
    &:last-child {
      text-align: right;
      min-width: none;
      .sthc-amenities-carousel__nav-label {
        padding-right: 0;
      }
    }
    &:focus-visible {
      outline: 2px solid #ffffff;
      outline-offset: 3px;
    }
  }

  &__nav-label {
    display: inline-block;
    white-space: nowrap;
  }

  &__nav-progress {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 12px;
    background: #fff;
    overflow: hidden;
  }

  &__nav-progress-bar {
    display: block;
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transform: scaleX(0);
    background: #fff;
    will-change: transform;
  }

  &__nav-item {
    &.is-active {
      .sthc-amenities-carousel__nav-progress {
        background: rgba(255, 255, 255, 0.5);
      }
      ~ button {
        .sthc-amenities-carousel__nav-progress {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  &__pause {
    display: none;
  }

  &__slides {
    position: relative;
    width: 100%;
    height: calc(100vh - 123px);
    max-height: 647px;
  }

  &__slide {
    display: flex;
    align-items: flex-end;
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 350ms ease;
    z-index: 1;
    &.white-content {
      h3 {
        font-family: "Futura", "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.12;
        text-transform: none;
        font-weight: 500;
        font-size: 32px !important;
        margin-bottom: 12px;
      }
      a.sthc-amenities-carousel__link {
        color: $tertiary-color;
        font-size: 16px;
        line-height: 1.37;
        svg {
          width: 16px;
          height: 16px;
          aspect-ratio: 1/1;
          path {
            fill: $tertiary-color;
            stroke: $tertiary-color;
          }
        }
        &:hover {
          color: $primary-color;
          svg {
            path {
              fill: $primary-color;
              stroke: $primary-color;
            }
          }
        }
      }
    }
    &.is-active {
      opacity: 1;
      pointer-events: auto;
      z-index: 2;
    }
  }

  &__media {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 36.78%, rgba(0, 0, 0, 0.60) 71.83%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
      pointer-events: none;
    }
  }

  &__picture,
  &__image {
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 40px 12px;
    max-width: 424px;
  }

  &__body {
    margin-bottom: 24px
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: $primary-color;
    line-height: 1.37;
    font-size: 24px;
    line-height: 0.91;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    transition: all .3s ease;
    &:focus-visible {
      outline: 2px solid #ffffff;
      outline-offset: 2px;
    }
    &:hover {
      color: $tertiary-color;
      svg {
        path {
          fill: $tertiary-color;
          stroke: $tertiary-color;
        }
      }
    }
  }

  // Tablet+
  @media (min-width: 768px) {
    &__content {
      padding: 50px 12px;
    }
  }

  // Desktop
  @media (min-width: 1025px) {
    &__nav-item {
      min-width: 120px;
    }
    &__slides {
      max-height: 768px;
    }
    &__content {
      padding: 96px 12px;
    }
  }
}
