@import '../variables';
@import '../mixin';

.home-page {
  &__hero {
    .row_col_wrap_12 {
      @include mobile {
        padding: 40px 0 24px;
      }
      @include tablet {
        padding: 50px 0 24px;
      }
      .vc_column-inner {
        .nectar-star-rating {
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          .nectar-star-rating__icon {
            display: flex;
            align-items: center;
            gap: 6px;
            &:before {
              line-height: 24px;
            }
            &:after {
              content: '4.5/5';
              font-size: 12px;
              font-weight: 500;
              line-height: 1.33;
              color: $tertiary-color;
            }
          }
          .nectar-star-rating__content {
            font-size: 18px;
            margin-left: 0;
          }
          @include desktop {
            display: none;
          }
        }
      }
    }
  }
  &__hero,
  &__hero-slider {
    .sthc-marquee::before,
    .sthc-marquee::after {
      content: "";
      position: absolute;
      top: 0;
      width: 123px; /* adjust to control fade width */
      height: 100%;
      pointer-events: none;
      z-index: 2;
      @include tablet_up {
        width: 200px;
      }
    }
    .sthc-marquee::before {
      left: 0;
      background: linear-gradient(90deg, #000 9.74%, rgba(255, 255, 255, 0.00) 95.9%);
    }
    .sthc-marquee::after {
      right: 0;
      background: linear-gradient(270deg, #000 9.74%, rgba(255, 255, 255, 0.00) 95.9%);
    }
  }
}