@import '../variables';
@import '../mixin';

.home-page {
  &__hero {
    @include mobile {
      .row-bg-wrap {
        .row-bg-overlay {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 54.9%, #000 87.14%), linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%) !important;
        }
      }
    }
    .row_col_wrap_12 {
      @include mobile {
        padding: 40px 0 24px;
      }
      @include tablet {
        padding: 50px 0 24px;
      }
      @include mobile {
        .vc_col-sm-3\/5 {
          .wpb_text_column {
            font-size: 24px;
          }
        }
      }
      .vc_column-inner {
        .nectar-star-rating {
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          .nectar-star-rating__icon {
            display: flex;
            align-items: center;
            gap: 6px;
            &:before {
              line-height: 24px;
            }
            &:after {
              content: '4.5/5';
              font-size: 12px;
              font-weight: 500;
              line-height: 1.33;
              color: $tertiary-color;
            }
          }
          .nectar-star-rating__content {
            font-size: 18px;
            margin-left: 0;
          }
          @include desktop {
            display: none;
          }
        }
      }
    }
  }
  &__hero,
  &__hero-slider {
    .sthc-marquee::before,
    .sthc-marquee::after {
      content: "";
      position: absolute;
      top: 0;
      width: 123px; /* adjust to control fade width */
      height: 100%;
      pointer-events: none;
      z-index: 2;
      @include tablet_up {
        width: 200px;
      }
    }
    .sthc-marquee::before {
      left: 0;
      background: linear-gradient(90deg, #000 9.74%, rgba(255, 255, 255, 0.00) 95.9%);
    }
    .sthc-marquee::after {
      right: 0;
      background: linear-gradient(270deg, #000 9.74%, rgba(255, 255, 255, 0.00) 95.9%);
    }
  }
  &__pricing-section {
    .row_col_wrap_12 {
      @include mobile {
        > div {
          order: 58;
        }
        .vc_col-sm-12:first-child {
          order: 1;
        }
        .vc_col-sm-12:nth-child(2) {
          order: 2;
        }
        .vc_col-sm-6.pricing-box:nth-child(3) {
          order: 4;
        }
        .vc_col-sm-6.pricing-box:nth-child(4) {
          order: 3;
        }
      }
      .vc_column-inner {
        .nectar-star-rating {
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          .nectar-star-rating__icon {
            display: flex;
            align-items: center;
            gap: 6px;
            &:before {
              line-height: 24px;
            }
            &:after {
              content: '4.5/5';
              font-size: 12px;
              font-weight: 500;
              line-height: 1.33;
              color: $tertiary-color;
            }
          }
          .nectar-star-rating__content {
            font-size: 18px;
            margin-left: 0;
          }
          @include desktop {
            display: none;
          }
        }
      }
      @include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      justify-content: center;
      .pricing-box {
        max-width: 404px;
        @include desktop {
          max-width: 426px;
          margin-left: 15px !important;
          margin-right: 15px !important;
        }
        .iwithtext {
          .iwt-icon {
            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;
            margin-bottom: 0;
          }
          .iwt-text {
            padding-left: 30px;
          }
          margin-bottom: 12px;
        }
        .nectar-button[data-color-override=false].nectar-button {
          margin-top: 12px !important;
          margin-bottom: 12px !important;
          width: 100%;
        }
      }
      .price-box {
        &__popular {
          position: absolute;
          inset: auto -1px 100%;
          background-color: $primary-color;
          display: flex;
          padding: 6px 28px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          color: $secondary-color;
          font-family: 'Anton';
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0;
        }
        &__highlight {
          border: 1px solid $primary-color;
          background: #191609;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 2.14;
          color: $primary-color;
        }
        &__title {
          margin-bottom: 32px !important;
          p {
            color: $primary-color;
            margin-top: -2px;
          }
        }
        &__price {
          margin-bottom: 12px !important;
          color: $primary-color;
          font-family: 'Oswald';
          font-size: 36px;
          font-weight: 500;
          line-height: 1.27;
          text-transform: uppercase;
          @include desktop {
            font-size: 46px;
            line-height: 1;
          }
          span {
            color: $tertiary-color;
            font-size: 24px;
            line-height: 46px;
            @include desktop {
              font-size: 32px;
              line-height: 46px;
            }
          }
        }
        &__day {
          color: #E0E0E0;
        }
        &__disclaimer-text {
          color: #E0E0E0;
          text-align: center;
          font-size: 12px;
          line-height: 1.83;
        }
      }
      .pricing-box-cta {
        max-width: 404px;
        @include tablet {
          max-width: 808px;
        }
        @include desktop {
          max-width: 882.5px;
        }
      }
    }
  }
  &__why-sthc {
    .row_col_wrap_12 {
      .vc_col-sm-4 {
        .img-with-aniamtion-wrap {
          margin-bottom: 24px;
        }
        h3 {
          color: $primary-color;
        }
        @include tablet {
          width: 50%;
        }
      }
    }
  }
  &__vist-the-club {
    @include mobile {
      .row-bg-wrap {
        .row-bg-overlay {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 7.89%, #000 52.02%) !important;
        }
      }
    }
    .row_col_wrap_12 {
      @include mobile {
        padding-top: 354px;
        padding-bottom: 64px;
      }
      @include tablet {
        padding-top: 64px;
        padding-bottom: 64px;
      }
      @include desktop {
        padding-top: 140px;
        padding-bottom: 140px;
      }
    }
  }
  &__vist-the-club,
  &__about-the-club {
    .vc_column-inner {
      .nectar-star-rating {
        flex-direction: column-reverse;
        align-items: flex-start;
        @include mobile {
          align-items: center;
        }
        gap: 6px;
        .nectar-star-rating__icon {
          display: flex;
          align-items: center;
          gap: 6px;
          &:before {
            line-height: 19px;
          }
          &:after {
            content: '4.5/5';
            font-size: 12px;
            font-weight: 500;
            line-height: 1.33;
            color: $tertiary-color;
          }
        }
        .nectar-star-rating__content {
          font-size: 14px;
          margin-left: 0;
        }
      }
    }
  }
  &__about-the-club {
    .row_col_wrap_12 {
      padding-top: 0;
      padding-bottom: 64px;
      @include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .vc_column-inner {
        .hover-wrap  {
          box-shadow: -12px 12px 0 0 $primary-color !important;
          img {
            width: 100%
          }
        }
      }
    }
  }
  &__testimonials {
    .row_col_wrap_12 {
      padding-top: 0;
      padding-bottom: 64px;
      @include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .vc_col-sm-4 {
        .column-overlay-layer  {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 47.26%, #000 93.69%) !important;
        }
        .yellow {
          color: $primary-color;
        }
        @include mobile {
          .xl-text {
            font-size: 18px;
          }
        }
      }
    }
  }
  &__image-slider {
    .vc_column-inner {
      .nectar-star-rating {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 6px;
        .nectar-star-rating__icon {
          display: flex;
          align-items: center;
          gap: 6px;
          &:before {
            line-height: 19px;
          }
          &:after {
            content: '4.5/5';
            font-size: 12px;
            font-weight: 500;
            line-height: 1.33;
            color: $tertiary-color;
          }
        }
        .nectar-star-rating__content {
          font-size: 14px;
          margin-left: 0;
        }
      }
      .cta-box {
        position: absolute;
        bottom: 0;
        left:0;
        @include mobile {
          bottom: 6px;
        }
        white-space: nowrap;
      }
    }
  }
  &__free-tour-cta {
    .row-bg-wrap {
      .row-bg-overlay {
        background: radial-gradient(81.53% 81.53% at 50% 50%, #FFF 8.89%, rgba(255, 255, 255, 0.00) 100%) !important;
      }
    }
    .row_col_wrap_12 {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }
  &__faq {
    div[data-style="minimal"] {
      .toggle {
        border-bottom: none;
        .toggle-title {
          a {
            color: $tertiary-color;
            padding-top: 24px;
            padding-bottom: 24px;
          }
          i {
            &::before {
              width: 24px;
              top: 11px;
              left: 0;
              margin-top: 0;
              background-color: $tertiary-color;
            }
            margin-top: - 12px;
            border: none;
            width: 24px;
            height: 24px;
            &::after {
              height: 24px;
              top: 0;
              left: 11px;
              margin-left: 0;
              background-color: $tertiary-color;
            }
          }
        }
        &.open {
          .toggle-title {
            a {
              color: $primary-color;
            }
            i {
              &::before,
              &::after {
                background-color: $primary-color;
              }
            }
          }
        }
        > div {
          .inner-toggle-wrap {
            padding-bottom: 24px;
          }
        }
      }
    }
  }
}